<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m.sql.mapper.Telegram_userMapper">
  <resultMap id="BaseResultMap" type="com.m.sql.entity.Telegram_user">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="telegram_id" jdbcType="CHAR" property="telegram_id" />
    <result column="firstName" jdbcType="VARCHAR" property="firstName" />
    <result column="lastName" jdbcType="VARCHAR" property="lastName" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="joinGame" jdbcType="INTEGER" property="joinGame" />
    <result column="completeGame" jdbcType="INTEGER" property="completeGame" />
    <result column="exitGame" jdbcType="INTEGER" property="exitGame" />
    <result column="word_people" jdbcType="INTEGER" property="word_people" />
    <result column="word_spy" jdbcType="INTEGER" property="word_spy" />
    <result column="word_people_victory" jdbcType="INTEGER" property="word_people_victory" />
    <result column="word_spy_victory" jdbcType="INTEGER" property="word_spy_victory" />
    <result column="fraction" jdbcType="INTEGER" property="fraction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="language" jdbcType="VARCHAR" property="language" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, telegram_id, firstName, lastName, userName, joinGame, completeGame, exitGame, 
    word_people, word_spy, word_people_victory, word_spy_victory, fraction, create_time, 
    language
  </sql>
  <select id="selectByExample" parameterType="com.m.sql.entity.Telegram_userExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from telegram_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from telegram_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from telegram_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.m.sql.entity.Telegram_userExample">
    delete from telegram_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.m.sql.entity.Telegram_user">
    insert into telegram_user (id, telegram_id, firstName, 
      lastName, userName, joinGame, 
      completeGame, exitGame, word_people, 
      word_spy, word_people_victory, word_spy_victory, 
      fraction, create_time, language
      )
    values (#{id,jdbcType=INTEGER}, #{telegram_id,jdbcType=CHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{joinGame,jdbcType=INTEGER}, 
      #{completeGame,jdbcType=INTEGER}, #{exitGame,jdbcType=INTEGER}, #{word_people,jdbcType=INTEGER}, 
      #{word_spy,jdbcType=INTEGER}, #{word_people_victory,jdbcType=INTEGER}, #{word_spy_victory,jdbcType=INTEGER}, 
      #{fraction,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, #{language,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.m.sql.entity.Telegram_user">
    insert into telegram_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telegram_id != null">
        telegram_id,
      </if>
      <if test="firstName != null">
        firstName,
      </if>
      <if test="lastName != null">
        lastName,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="joinGame != null">
        joinGame,
      </if>
      <if test="completeGame != null">
        completeGame,
      </if>
      <if test="exitGame != null">
        exitGame,
      </if>
      <if test="word_people != null">
        word_people,
      </if>
      <if test="word_spy != null">
        word_spy,
      </if>
      <if test="word_people_victory != null">
        word_people_victory,
      </if>
      <if test="word_spy_victory != null">
        word_spy_victory,
      </if>
      <if test="fraction != null">
        fraction,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="language != null">
        language,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telegram_id != null">
        #{telegram_id,jdbcType=CHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="joinGame != null">
        #{joinGame,jdbcType=INTEGER},
      </if>
      <if test="completeGame != null">
        #{completeGame,jdbcType=INTEGER},
      </if>
      <if test="exitGame != null">
        #{exitGame,jdbcType=INTEGER},
      </if>
      <if test="word_people != null">
        #{word_people,jdbcType=INTEGER},
      </if>
      <if test="word_spy != null">
        #{word_spy,jdbcType=INTEGER},
      </if>
      <if test="word_people_victory != null">
        #{word_people_victory,jdbcType=INTEGER},
      </if>
      <if test="word_spy_victory != null">
        #{word_spy_victory,jdbcType=INTEGER},
      </if>
      <if test="fraction != null">
        #{fraction,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.m.sql.entity.Telegram_userExample" resultType="java.lang.Long">
    select count(*) from telegram_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update telegram_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.telegram_id != null">
        telegram_id = #{record.telegram_id,jdbcType=CHAR},
      </if>
      <if test="record.firstName != null">
        firstName = #{record.firstName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastName != null">
        lastName = #{record.lastName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        userName = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.joinGame != null">
        joinGame = #{record.joinGame,jdbcType=INTEGER},
      </if>
      <if test="record.completeGame != null">
        completeGame = #{record.completeGame,jdbcType=INTEGER},
      </if>
      <if test="record.exitGame != null">
        exitGame = #{record.exitGame,jdbcType=INTEGER},
      </if>
      <if test="record.word_people != null">
        word_people = #{record.word_people,jdbcType=INTEGER},
      </if>
      <if test="record.word_spy != null">
        word_spy = #{record.word_spy,jdbcType=INTEGER},
      </if>
      <if test="record.word_people_victory != null">
        word_people_victory = #{record.word_people_victory,jdbcType=INTEGER},
      </if>
      <if test="record.word_spy_victory != null">
        word_spy_victory = #{record.word_spy_victory,jdbcType=INTEGER},
      </if>
      <if test="record.fraction != null">
        fraction = #{record.fraction,jdbcType=INTEGER},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update telegram_user
    set id = #{record.id,jdbcType=INTEGER},
      telegram_id = #{record.telegram_id,jdbcType=CHAR},
      firstName = #{record.firstName,jdbcType=VARCHAR},
      lastName = #{record.lastName,jdbcType=VARCHAR},
      userName = #{record.userName,jdbcType=VARCHAR},
      joinGame = #{record.joinGame,jdbcType=INTEGER},
      completeGame = #{record.completeGame,jdbcType=INTEGER},
      exitGame = #{record.exitGame,jdbcType=INTEGER},
      word_people = #{record.word_people,jdbcType=INTEGER},
      word_spy = #{record.word_spy,jdbcType=INTEGER},
      word_people_victory = #{record.word_people_victory,jdbcType=INTEGER},
      word_spy_victory = #{record.word_spy_victory,jdbcType=INTEGER},
      fraction = #{record.fraction,jdbcType=INTEGER},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      language = #{record.language,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.m.sql.entity.Telegram_user">
    update telegram_user
    <set>
      <if test="telegram_id != null">
        telegram_id = #{telegram_id,jdbcType=CHAR},
      </if>
      <if test="firstName != null">
        firstName = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        lastName = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="joinGame != null">
        joinGame = #{joinGame,jdbcType=INTEGER},
      </if>
      <if test="completeGame != null">
        completeGame = #{completeGame,jdbcType=INTEGER},
      </if>
      <if test="exitGame != null">
        exitGame = #{exitGame,jdbcType=INTEGER},
      </if>
      <if test="word_people != null">
        word_people = #{word_people,jdbcType=INTEGER},
      </if>
      <if test="word_spy != null">
        word_spy = #{word_spy,jdbcType=INTEGER},
      </if>
      <if test="word_people_victory != null">
        word_people_victory = #{word_people_victory,jdbcType=INTEGER},
      </if>
      <if test="word_spy_victory != null">
        word_spy_victory = #{word_spy_victory,jdbcType=INTEGER},
      </if>
      <if test="fraction != null">
        fraction = #{fraction,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.m.sql.entity.Telegram_user">
    update telegram_user
    set telegram_id = #{telegram_id,jdbcType=CHAR},
      firstName = #{firstName,jdbcType=VARCHAR},
      lastName = #{lastName,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      joinGame = #{joinGame,jdbcType=INTEGER},
      completeGame = #{completeGame,jdbcType=INTEGER},
      exitGame = #{exitGame,jdbcType=INTEGER},
      word_people = #{word_people,jdbcType=INTEGER},
      word_spy = #{word_spy,jdbcType=INTEGER},
      word_people_victory = #{word_people_victory,jdbcType=INTEGER},
      word_spy_victory = #{word_spy_victory,jdbcType=INTEGER},
      fraction = #{fraction,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      language = #{language,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from telegram_user
  </select>
  <select id="selectByUserId" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from telegram_user
    where telegram_id = #{userId,jdbcType=VARCHAR}
  </select>
  <update id="newJoinGame" parameterType="string" >
    update telegram_user  set joinGame = joinGame + 1
    where telegram_id = #{telegram_id,jdbcType=VARCHAR}
  </update>
  <update id="newCompleteGame" parameterType="string" >
    update telegram_user  set completeGame = completeGame + 1
    where telegram_id in
    <foreach item="item" collection="array" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>
  <update id="newExitGame" parameterType="string" >
    update telegram_user  set exitGame = exitGame + 1
    where telegram_id = #{telegram_id,jdbcType=VARCHAR}
  </update>
  <update id="newWord_people" parameterType="string" >
    update telegram_user  set word_people = word_people + 1
    where telegram_id in
    <foreach item="item" collection="array" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>
  <update id="newWord_spy" parameterType="string" >
    update telegram_user  set word_spy = word_spy + 1
    where telegram_id in
    <foreach item="item" collection="array" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>
  <update id="newWord_people_victory" parameterType="string" >
    update telegram_user  set word_people_victory = word_people_victory + 1
    where telegram_id in
    <foreach item="item" collection="array" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>
  <update id="newWord_spy_victory" parameterType="string" >
    update telegram_user  set word_spy_victory = word_spy_victory + 1
    where telegram_id in
    <foreach item="item" collection="array" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>
  <update id="upFraction"  >
    update telegram_user  set fraction = fraction + #{fraction,jdbcType=INTEGER}
    where telegram_id = #{telegram_id,jdbcType=VARCHAR}
  </update>
  <update id="updateUserData" parameterType="com.m.sql.entity.Telegram_user" >
    update telegram_user
    set firstName = #{firstName},
        lastName = #{lastName},
        userName = #{userName}
    where telegram_id = #{telegram_id,jdbcType=VARCHAR}
  </update>

  <update id="updateLanguage" parameterType="string" >
    update telegram_user  set language = #{language,jdbcType=VARCHAR}
    where telegram_id = #{telegram_id,jdbcType=VARCHAR}
  </update>

</mapper>